.loadingContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingContent {
  display: flex;
  flex-direction: column; /* stack text above loader */
  align-items: center;    /* center horizontally */
  gap: 12px;              /* spacing between text and loader */
  font-size: 24px;
  font-family: monospace;
  font-weight: bold;
}

.loader {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: l1 1s infinite;
}
@keyframes l1 {to{transform: rotate(.5turn)}}