html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
  color: var(--charcoal);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --yellow: #FFD93D;
  --charcoal: #2D2D2D;
  --light-gray: #F5F5F5;
  --black: #000000;
  --white: #FFFFFF;
}

input[type="file"] {
  display: none;
}